
//FONT SPECIFICAIONS

$font-size-h1: 32px !important;
$font-size-h2: 24px !important;
$font-size-h3: 18px !important;
$font-size-h4: 13px !important;
$font-size-h5: 10px !important;
$font-size-h6: 8.5px !important;




//COLOR SPECIFICATIONS

$white: #fff;
$black-grey : #F0F0F0;
$black : #333333;
$dark-grey :#999999;
$light-grey-ac :#CACACA;
$light-grey-tb :#FAFAFA;
$bg-grey : #f5f5f5;
$body-grey:#F0F0F0;
$grey-heading : #333;

$red :#D0021B;
$light-red :#ED3E53;
$dark-red :#B94A48;
$light-red-notf :#F2DEDE;

$dark-blue :#004E70;
$dark-blue-notf :#3A87AD;
$light-blue :#D9EDF7;
$hover-blue :#E5EDF1;

$dark-yellow :#C09853;
$light-yellow :#FCF8E3;
$orange-yellow :#F5A623;

$green :#61C771;
$light-green :#DFF0D8;


//ICON COLOR SPECIFICATIONS

$icon-red: #d0021b;
$icon-light-red: #ED3E53;
$icon-cyan:#0af;
$light-red:#b94a48;
$icon-blue: #004e70;
$icon-black: #000;
$icon-white: #fff;
$icon-green: #7ed321;
$icon-orange: #F5A623;

//HEIGHT SPECIFICATIONS
$headerheight: 52px;





//-------------------- CALENDAR SPECIFICATIONS --------------------------------//

// COLOUR-SPECIFICATIONS
$primary-blue: #004E70;
$secondary-blue: #3A87AD;
$primary-light-blue: #3A87AD;
$secondary-grey:#f5f5f5;
$primary-red:#D0021B;
$primary-white: #FFFFFF;
$primary-back-grey: #F0F0F0;
$primary-hover-grey:#FAFAFA;
$primary-black: #333333;
$primary-dark-grey: #999999;
$primary-light-grey-seprator: #CACACA;
$dhmlx-default-color:#cbcbcb;
$primary-green:#61C771;

// FONT-SPECIFICATIONS
$primary-font:13px;
$primary-font-heading:18px;
$primary-font-large-heading:24px;

$light-sh-grey: #DADADA;

// - GRID SPECIFICaATION

$col-width-1 : 250px;
$col-width-2 : 300px;