/* Toggle switch */

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 12px;
    margin-top: 6px;
}

.switch input {
    position: absolute;
    z-index: 999;
    width:40px;
    top:-6px;
    opacity: 0;
}

.slider-toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cacaca;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-toggle:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: -4px;
    bottom: -3px;
    border: 1px solid #eaeaea;
    background-color: white;
    transition: .4s;
}

input:checked+.slider-toggle {
    background-color: #61C771;
}

input:checked+.slider-toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider-toggle.round {
    border-radius: 34px;
}

.slider-toggle.round:before {
    border-radius: 50%;
}