<div class="box-panel-body mn-settings">
    <div class="media template-header">
        <div class="media-left">

            <a class="show-account" href="javascript:void(0)" [attr.disabled]="true">
                <img class="media-object img-circle img-user" src="./assets/public/images/user-img.png">
            </a>

        </div>
        <div class="media-body media-middle">


            <div class="form-input-header">
                <div class="dropdown">
                    <h4>Mr</h4>
                   
                </div>
                <div class="form-input-group">
                    <div class="form-input-field">
                        <input type="text" class="form-input-control" placeholder="Firstname" value="Firstname">
                    </div>
                    <div class="form-input-field">
                        <input type="text" class="form-input-control" placeholder="Firstname" value="Firstname">
                    </div>
                    <div class="form-input-field">
                        <input type="text" class="form-input-control" placeholder="Firstname" value="Firstname">
                    </div>
                </div>
                <div class="title-header">
                    <h4>Title</h4>
                </div>
            </div>
        </div>
    </div>

</div>


