ul.ui-tabs>li>a.active {
    font-weight: 600;
    color: #333;
}

.smll-font {
    font-size: 16px;
}
.message-info-box{
    display:  flex;
    height: calc(100vh - 198px);
    display: flex;
    align-items: center;
    justify-content: center;

}



